/**
 *  Product Cards
 *
 * The Card for the Products
 *
 * @section
 *
 * @example
 * <div class="col span_1_of_4">
 *  <div class="innercard">
 *    <img src="../img/final-products-elevation.jpg">
 *    <div class="innercardtitle">Elevation</div>
 *    <div class="innercardtext">A Digital Surface Model (DSM) is a 3D representation of a terrain's surface including structures and vegetation. This planet's interior heat provides an abundance of geothermal energy for fungus farming.</div>
 *    <div class="btn">ADD TO SITE</div>
 *  </div>
 * </div>
 */
 .innercard {
 	height: 100%;
 	width: 310px;
  .innercardtext {
  	padding-top: 13px;
  	height: 133px;
  	width: 310px;
  	text-align: left;
    font-family: "Roboto";
  	font-weight: 300;
  	font-size: 15px;
  	color: #8A8A8A;
  	border-bottom: 1px #DFDFDF solid;
  }

  .innercardtitle {
  	padding-top: 6px;
  	font-family: "Roboto";
  	font-weight: 300;
  	font-size: 26px;
  	color: #8A8A8A;
  }


  .btn {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #3384F2;
    background: #FFFFFF;
    margin-top: 13px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }


  .btn:hover {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    background: #3384F2;
    margin-top: 13px;
    text-decoration: none;
  }
 }
