/**
 *  Buttons
 *
 * Buttons are a things
 *
 * @section
 *
 * @example
 * <div class="btn"> ADD TO SITE </div>
 */

 .btn {
   font-family: "Roboto", slab;
   font-weight: 400;
   font-size: 12px;
   text-align: center;
   color: #3384F2;
   background: #FFFFFF;
   margin-top: 13px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   width: 310px;
 }


 .btn:hover {
   font-family: "Roboto";
   font-weight: 400;
   font-size: 12px;
   text-align: center;
   color: #FFFFFF;
   background: #3384F2;
   margin-top: 13px;
   text-decoration: none;
 }
