/**
 *  Buttons
 *
 * Buttons are a things
 *
 * @section
 *
 * @example
 * <button class="button primary-button">login</button>
 * <button class="button secondary-button">Upload</button>
 */
 .button{
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
   color: rgba(0,0,0,0.87);
   display: inline-block;
   position: relative;
   cursor: pointer;
   min-height: 36px;
   min-width: 88px;
   line-height: 36px;
   vertical-align: middle;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-grid-row-align: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
   border-radius: 3px;
   box-sizing: border-box;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   outline: none;
   border: 0;
   padding: 0 6px;
   margin: 6px 8px;
   color: currentColor;
   white-space: nowrap;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 14px;
   font-style: inherit;
   font-variant: inherit;
   font-family: inherit;
   text-decoration: none;
   overflow: hidden;
   transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
 }
 .primary-button{
   background-color: rgb(51,131,242);
   &:hover{
     background-color: rgb(229,57,53);
   }
 }
 .secondary-button{
   background-color: #fff;
 }
