/**
 * Buttons Are for Girls and Guys
 *
 * The Button `.btn` class can be applied to `<button>`, `<input>`, or `<a>` elements.
 *
 * @section
 *
 * @example
 * <button class="btn">Button</button>
 * <input type="submit" class="btn" value="Input"/>
 * <a href="#" class="btn">Anchor</a>
 */
 body.base-provider-dashboard-account{
     md-button{
     background-color: #3383F2;

     .md-btn1 {
       color: #3383F2;
     }
   }
 }
 body.base-provider-dashboard-documentation{
     md-button{
     background-color: #3383F2;

     .md-btn1 {
       color: #3383F2;
     }
   }
 }
 body.base-provider-dashboard-client{
     md-button{
     background-color: #3383F2;

     .md-btn1 {
       color: #3383F2;
     }
   }
 }

  /**
   * Primary Button
   *
   * A primary button
   *
   * @section
   *
   * @example
   * <button class="btn primary">Button</button>
   * <input type="submit" class="btn primary" value="Input"/>
   * <a href="#" class="btn primary">Anchor</a>
   */
